{% extends "frontend/_layout.twig" %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  {% include 'frontend/home/_hero.twig' %}
  {% include 'frontend/home/_infinite_gallery.twig' %}
  <div class="home-infinite-spacer h-24"></div>
  {% include 'frontend/home/_albums_carousel.twig' %}
</div>
{% endblock %}


{% block scripts %}
  {% include 'frontend/home/_styles.twig' %}
  <script>window.basePath = '{{ base_path }}';</script>
  <script type="module" src="{{ base_path }}/assets/js/home.js"></script>
{% endblock %}

